.sign-in-container {
	background-color: rgb(91, 91, 241);
	display: flex;
	justify-content: space-between;
	width: 100%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

	hgroup {
		color: white;
		display: flex;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
		h6 {
			padding: 10px;
		}
	}
}
