.register-form {
    background-color: #c9d5f5;
    padding: 50px;
    display: flex;
    width: 25vw;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    justify-content: center;
}