.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    input {
        padding: 10px;
        margin: 10px;
        width: 100%;
        border: 2px solid lightgray;
        border-radius: 5px;
        background-color: lightgray;
        box-shadow: 0 0 15px rgba(0,0,0,.2);
        &:hover{
            border: 2px solid royalblue;
        }
        &:active{
            border: 2px solid royalblue;
        }
    }
}

.register-container{
    background-color: #c9d5f5;
    padding: 10px;
    display: flex;
    width: 30vw;
    margin: 10vh;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    justify-content: center;
    @media screen and (max-width: 800px){
        width: 90vw;
        margin-left: 10px;
        margin-right: 10px;
    }
}